
.content {
  background: $bg-main;
  &__main-img {
    width: 100%;
    height: 485px;
    margin-bottom: 60px;
    background: $bg-grey;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before {
      content: "\f231";
      font: normal normal normal 23px/1 FontAwesome;
      display: block;
      width: 50px;
      height: 40px;
      position: absolute;
      padding: 9px 17px;
      right: 0;
      top: 0;
      background: #cc2127;
      color: $white;
    }
    &:after {
      content: "\f03e";
      font: normal normal normal 23px/1 FontAwesome;
      display: block;
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -19px;
      width: 38px;
      height: 34px;
      padding: 4px 7px;
      background: $text-dark;
      color: $white;

    }
  }
}